//Color Variables
$border-color:#ccc;
$error:#E4757A;
$warning:#FD7856;
$info:#927BC1;
$main-text: #333;


$form-field-border: #58E1C1;

$link-color:#51DDFC;;
$container-color:#888;



//Font Variables
$container-font: Arial, sans-serif;


//Breakpoint variables
$xxs: 320px;
$xs: 620px;
$sm: 998px;
$md: 1024px;
$lg: 2000px

//Border settings


    