.container  {
    background-color: #eee;
    margin: 0 auto 0 auto;
    width: 100%;
    min-height: 100vh;
    /** Media Query for Desktop View ***/
    @include mq($md) {
        width: 95%;
        margin: auto;
    }

    @include mq($lg) {
        width: 80%;
        margin: auto;
    }

}




