.container  {
    /** Media Query for Desktop View ***/
    @include mq($md) {
        width: 95%;
        margin: auto;
    }
}


.banner__container {
    @include flexible($direction: row);
    /*@include mq($sm) {
            @include flexible($direction: row,
                               $justify-content: center);
            
        }*/
}

