.container  {
    display: grid;
    grid-template-columns:minmax(0, 1fr);
    grid-template-rows: minmax(45px, auto);
    grid-template-areas: 
    "banner"
    "main-nav"
    "main";
    
    /** Media query for Tablets **/
    @include mq($xs) {
        grid-template-columns:60px auto;
        grid-template-rows: minmax(45px, auto);
        grid-template-areas: 
        "banner banner"
        "main-nav main"
        "main-nav main";
        
    }

    /** Media Query for Desktop View **/
    @include mq($md) {
        width: 95%;
        margin: auto;
    }
}


.banner__container {
    @include flexible($direction: row);
    /*@include mq($sm) {
            @include flexible($direction: row,
                               $justify-content: center);
            
        }*/
}

