.employee-directory-wrapper {
    display: grid;
    grid-template-columns:minmax(0, 1fr);
    grid-template-rows: minmax(40px, auto);
    grid-gap: 1.2em 1.2em;
    padding: 0 1em 1em 1em;
    width: 100%;
    margin: 0 auto 0 auto;

    @include mq($xs) {
        grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, auto);   
    }
 
    @include mq($md) {
        grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, auto);   
    }
}

 
/**** Employees Directory ****/

.employee__card {
    @include flexible($direction: row,
                       $justify-content: left);
    border: 1.2px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.9em;
    width: 100%;
}

.employee__card__details {
    margin:auto 1.5em auto 0.2em;
    width: 100%;
}

.employee__card__details > * {
    margin: 0 0.5em;
}

.employee__card__details__name {
    font-weight: bold;
}

/*********************************
         The Modal 
**********************************/
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /*** Modal Content ***/
  .modal-content-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%;
  }
  
  /*** The Close Button ***/
  .close {
    color: #999;
    float: right;
    font-size: 1.5em;
    font-weight: bold;

  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

hr.addedElement {
    border-bottom: solid 0.005px #aaa;
}



